<section>
    <div class="container overflow-hidden text-center bg-gray-700 p-3">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <h4>Ecommerce Web App</h4>
            <div class="space-y-3">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required email>

                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email Is Required</mat-error>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required password>

                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password Is Required</mat-error>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Password should be 8 characters long</mat-error>
                </mat-form-field>

                <div class="">
                    <button mat-raised-button style="padding: 1.7rem" class="w-full" style="border-radius: 5px; font-size: 18px; background-color: #00dddd; color: black;">Login</button>
                </div>
                <div class="">
                    <span>Don't have any account?</span>
                    <button mat-button (click)="changeTemplate()">Register</button>
                </div>
            </div>
        </form>
    </div>
</section>
