<div class="box hover:scale-105 transition-all duration-500 cursor-pointer flex flex-col items-center 
rounded-lg overflow-hidden w-[15rem] mx-3 my-3 h-[350px]">
    <div class="h-[13rem] w-[10rem] flex items-center justify-center overflow-hidden">
        <img [src]="product.imageUrl" alt=""
             class="h-full w-full object-cover">
    </div>
    <div class="p-4">
        <p class="font-medium text-gray-700 text-sm">{{product.brand}}</p>
        <p class="mt-2 text-sm text-gray-500">{{product.title}}</p>
    </div>
</div>

