<div class="container rounded-md">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-2 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full" src="https://yt3.ggpht.com/vT19M6_RsSJx1Y4UrmZH41gzCX9Ck2tRZ7K4WIhGxWyxR5gDqqQVYdoyWM_rOft4FOCnbJD5=s88-c-k-c0x00ffffff-no-rj" alt="">
            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Code Ranger</p>
                    <p class="opacity-70">Nov 02, 2023</p>
                </div>
                <div>
                    Star
                </div>
                <p>nice product, i like white kurta</p>
            </div>
        </div>
    </div>
</div>
