<div class="py-10 text-white px-5 lg:px-20">
    <div class="py-5">
        <h5 class="text-center py-2">Order Status</h5>
        <app-order-tracker activeStep="PLACED" [steps]="steps"/>
    </div>
    <div class="space-y-10 pt-10">
        <div class="box px-10">
            <h6 class="text-lg font-semibold py-2">Shipping Address</h6>
            <app-address-card/>
        </div>
        <div class="space-y-6 mt-20">
            <div *ngFor="let item of orders">
                <app-order-card/>
            </div>
        </div>
    </div>
</div>
 